<h2>Hlavní nabídka</h2>

<br>

<h3>Hlavní kategorie</h3>
<% if (@categories.count > 0) %>
<ul>
<% @categories.each do |category| %>
  <li><a href="/categories/<%= escape(category.id) %>"><%= category.name %></a>
<% end %>
</ul>
<% else %>
  <h4>Žádná kategorie není k dispozici.</h4>
<% end %>

<hr>

<a href="/categories/1/new" class="button">Vytvořit novou kategorii</a>
