<% if (@error != nil && @error != '') %>
<h3><%= @error %></h3>
<% end %>

<form action="/rename_category" method="post">
  <input type="hidden" name="id" value="<%= @id %>">
  <p><label>Nový název kategorie</label></p>

  <p><input type="text" name="category_name" value="<%= @current_name %>"></p>

  <p><input type="submit" value="Uložit" class="button"></p>
</form>
